.main-container {
    display: flex;
    justify-content: center;
}

#game-canvas {
    background-color: rgb(196, 190, 183);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#prev-canvas {
    background-color: rgb(196, 190, 183);
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#stock-canvas {
    background-color: rgb(196, 190, 183);
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.mid-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side-bar {
    width: 200px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side-bar {
    width: 200px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
    .text-left-side-bar {
        display: flex;
        flex-direction: column;
    }
}

.buttons {
    margin: 10px;
    z-index: 3;
    transition: all ease 0.8s;
}

.title {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over {
    filter:brightness(0.4);
    border: 4px solid red;
    content:normal;
}

.buttons-when-game-over {
    transform: translateY(-200px);
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.mobile-keyboard {
    position: sticky;
    bottom: 0px;
    margin-top: 0px;
    display: none;
    flex-direction: column;
    width: 90%;
    span {
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
    .mobile-keyboard-row1 {
        display: flex;
        justify-content: space-between;
    }
    .mobile-keyboard-row2 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}


@media (max-width: 900px) {
    body{
        position: relative;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
    }
    #stock-canvas,
    #prev-canvas {
        width: 20%;
        position: absolute;
        align-items: center;
        z-index: -2;
        margin-bottom: 5;
    }

    #stock-canvas {
        bottom: -80px;
        left: 10px;
    }

    #prev-canvas {
        bottom: -80px;
        right: 10px;
    }

    .text-left-side-bar, .text-right-side-bar{
        display: none;
    }
    #game-canvas {
        width: 90vw;
        max-width: 400px;
    }
    .mobile-keyboard {
        display: flex;
    }
}